.box {
  width: 42px;
  height: 60px;
  padding-left: 509px;
}

.box2 {
  width: 97px;
  height: 29px;
  padding-left: 587px;
}

header {
    padding-left: 1000px;
}



h1 {
    padding-left: 243px;
}

h2 {
    padding-left: 499px;
}

.stc {
    padding-left: 499px;
}

footer {
    padding-left: 250px;
}
img {
    padding-left: 235px;
}